.payment-flow-home-component {
  position: relative;

  .paid {
    position: absolute;
    z-index: 1000;
    right: 4rem;
    padding: 0.1rem 2rem;
    border: 3px solid red;
    font-size: 3rem;
    border-radius: 1rem;
    transform: rotate(-13deg);
    color: red;
  }
}

.payzy-bank-selector {
  .bank-container {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10%;

    &:hover {
      border: 2px solid #16a627;
    }

    img {
      width: 5rem;
    }
  }
}
